/**
-----------------------------------------------------------------
폰트
------------------------------------------------------------------
**/

@font-face { font-family: 'IBM Plex Sans KR Regular'; font-style: normal; font-weight: 400; src: local('IBM Plex Sans KR Regular'), url('IBMPlexSansKR-Regular.woff') format('woff'); }
@font-face { font-family: 'IBM Plex Sans KR Thin'; font-style: normal; font-weight: 400; src: local('IBM Plex Sans KR Thin'), url('IBMPlexSansKR-Thin.woff') format('woff'); }
@font-face { font-family: 'IBM Plex Sans KR ExtraLight'; font-style: normal; font-weight: 400; src: local('IBM Plex Sans KR ExtraLight'), url('IBMPlexSansKR-ExtraLight.woff') format('woff'); }
@font-face { font-family: 'IBM Plex Sans KR Light'; font-style: normal; font-weight: 400; src: local('IBM Plex Sans KR Light'), url('IBMPlexSansKR-Light.woff') format('woff'); }
@font-face { font-family: 'IBM Plex Sans KR Medium'; font-style: normal; font-weight: 400; src: local('IBM Plex Sans KR Medium'), url('IBMPlexSansKR-Medium.woff') format('woff'); }
@font-face { font-family: 'IBM Plex Sans KR SemiBold'; font-style: normal; font-weight: 500; src: local('IBM Plex Sans KR SemiBold'), url('IBMPlexSansKR-SemiBold.woff') format('woff'); }
@font-face { font-family: 'IBM Plex Sans KR Bold'; font-style: normal; font-weight: 400; src: local('IBM Plex Sans KR Bold'), url('IBMPlexSansKR-Bold.woff') format('woff'); }


/*================================================
애니메이션
=================================================*/

@keyframes effect{
0% { transform: translate(0, 0);}
25% { transform: translate(0, 15px);}
50% { transform: translate(0, 0);}
75% { transform: translate(0, -15px);}
100% { transform: translate(0, 0);}
}



/*================================================
초기화
=================================================*/

body { line-height: 1.5; letter-spacing: 0px; color: #000; }

body,header,div,ul,li,h1,h2,h3,h4,h5,h6,p,img,a,nav.section,footer,form,input,label,button{margin: 0; padding: 0; border: none;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

img {vertical-align: middle;}





/*================================================
header 부분
======================================================= */

#header{background-color: #000; }
#header .inner{ position: relative; margin: 0 auto; width: 1920px;}

/* .head-util-wrap 부분 */
#header .inner .head-util-wrap{}
#header .inner .head-util-wrap::after{display: block; clear: both; content: "";}
#header .inner .head-util-wrap .head-util{ display: flex; flex-direction: row; gap: 20px; float: right; margin-right: 50px; margin-top: 20px;}
#header .inner .head-util-wrap .head-util li a{color: #fff; font-family: 'IBM Plex Sans KR Medium';}
#header .inner .head-util-wrap .head-util li a:hover{color: #dd592d; font-family: 'IBM Plex Sans KR Bold';}
#header .inner .head-util-wrap .head-util li a::after{display: block; content: ""; clear: both; width: 0; height: 2px; transition: all .3s ease;}
#header .inner .head-util-wrap .head-util li a:hover:after{width: 100%; background-color: #dd592d;}

/* .head-logo 부분 */
#header .inner .head-logo{background: url(../img/img-logo.png) no-repeat center center; text-align: center; height: 30px; margin-top: 35px;}

/* .search-wrap 부분 */
#header .inner .search-wrap{width: 100%; margin-top: 17px;}
#header .inner .search-wrap .search{position: relative; width: 535px; height: 40px; background-color: #CDCDCD; margin: 0 auto; display: flex; justify-content: center; align-items: center; border-radius: 10px;}
#header .inner .search-wrap .search #search-tab{width: 515px; height: 24px; border-radius: 10px; text-align: center;}
#header .inner .search-wrap .search #search-icon{position: absolute; top: 50%; transform: translateY(-50%); right: 12px; cursor: pointer; background: url(../img/ico-Search.png) no-repeat center center; width: 20px; height: 20px; text-indent: -9999px;}

/* .opt-wrap 부분 */
#header .inner .opt-wrap{ margin-top: 27px;  }
#header .inner .opt-wrap .opt{ display: flex; flex-direction: row; gap: 64px; font-family: 'IBM Plex Sans KR SemiBold'; font-size: 20px; justify-content: center; align-items: center; }
#header .inner .opt-wrap .opt li{position: relative; z-index: 1;}
#header .inner .opt-wrap .opt li a{ display: inline-block; line-height: 48px; color: #fff; transition: all 0.3s ease; padding-left: 26px; padding-right: 26px;}
#header .inner .opt-wrap .opt li a:hover{color: #000;}
#header .inner .opt-wrap .opt li a::after{position: absolute; left: 0; bottom: 0; z-index: -1; display: block; content: ""; clear: both; width: 100%; height: 0; border-radius: 22px 22px 0 0; transition: all 0.3s ease;}
#header .inner .opt-wrap .opt li a:hover::after{background-color: #fff; height: 100%; }

/* .opt-semi-wrap - .opt-semi 부분 */
#header .opt-semi-wrap{background-color: #fff; box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.150); display: none;}
#header .opt-semi-wrap .opt-semi{ width: 1920px; margin: 0 auto; padding-top: 23px; padding-bottom: 23px; }
#header .opt-semi-wrap .opt-semi .opt-items{display: flex; flex-direction: row; gap: 100px; justify-content: center; align-items: center;}
#header .opt-semi-wrap .opt-semi .opt-items li{}
#header .opt-semi-wrap .opt-semi .opt-items li a{}
#header .opt-semi-wrap .opt-semi .opt-items li a .item{ width: 256px; height: 95px; text-align: center; background-repeat: no-repeat; background-position: center center; border-radius: 20px; box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.150); transition: all .3s ease;}
#header .opt-semi-wrap .opt-semi .opt-items li a .item:hover{ box-shadow: 0 2px 10px 8px rgba(0, 0, 0, 0.3);}
#header .opt-semi-wrap .opt-semi .opt-items li a .item-1{background: url(../img/img-protein-head.png);}
#header .opt-semi-wrap .opt-semi .opt-items li a .item-2{background: url(../img/img-vitamin.png);}
#header .opt-semi-wrap .opt-semi .opt-items li a .item-3{background: url(../img/img-bar.png);}
#header .opt-semi-wrap .opt-semi .opt-items li a .item-4{background: url(../img/img-sportswear.png);}
#header .opt-semi-wrap .opt-semi .opt-items li a .item-5{background: url(../img/img-support_drink.png);}
#header .opt-semi-wrap .opt-semi #tab-con3 li a .item-1{background: url(../img/img-vigun.png);}
#header .opt-semi-wrap .opt-semi #tab-con3 li a .item-2{background: url(../img/img-vegeterian.png);}
#header .opt-semi-wrap .opt-semi #tab-con3 li a .item-3{background: url(../img/img-vigunsnack.png);}
#header .opt-semi-wrap .opt-semi .opt-items li a .item .item-title{ font-family: 'IBM Plex Sans KR SemiBold'; font-size: 24px; color: #fff; line-height: 95px;}

/* .head-util-second 부분 */
#header .inner .head-util-second{ position: absolute; top: 70px; right: 50px; display: flex; flex-direction: row; gap: 20px;}

/* ===================================================
section-1 부분
======================================================== */

#section-1 {background-color: #F6F6F6; box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.250);}

/* sec-wrap */
#section-1 .sec-wrap {}
#section-1 .sec-head-wrap{width: 1740px; margin: 0 auto; display: flex; justify-content: space-between; padding-top: 30px;}
#section-1 .sec-head-wrap .title{font-family: 'IBM Plex Sans KR Semibold'; font-size: 36px;}
#section-1 .sec-head-wrap .more { display: flex; justify-content: space-between; gap: 17px; align-items: center; }
#section-1 .sec-head-wrap .more span { font-family: 'IBM Plex Sans KR Regular'; font-size: 16px; }
#section-1 .sec-head-wrap .more a { background: url(../img/ico-Arrow.png) no-repeat center center; background-size: 30px 30px; width: 30px; height: 30px; }

/* 광고 영역 */

#section-1 .sec-option { width: 1740px; margin: 0 auto; padding-top: 30px; padding-bottom: 30px; display: flex; flex-direction: row; gap: 215px; justify-content: space-between; align-items: center; }
#section-1 .sec-option .event { display: flex; flex-direction: column; gap: 30px; justify-content: space-between; }
#section-1 .sec-option .event .ad-1 a{background: url(../img/img-ad-1.png) no-repeat center center; background-size: 878px 288px; width: 878px; height:288px; border-radius: 50px; display: inline-block; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.250); }
#section-1 .sec-option .event .ad-2 a{background: url(../img/img-ad-2.png) no-repeat center center; background-size: 878px 288px; width: 878px; height:288px; border-radius: 50px; display: inline-block; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.250); }

/* 혜택 영역 */
#section-1 .sec-option .bonus{animation: effect 2s linear infinite;}
#section-1 .sec-option .bonus .effect{}
#section-1 .sec-option .bonus .bonus-1{display: flex; flex-direction: row; justify-content: space-between; gap: 40px;}
#section-1 .sec-option .bonus .bonus-1 li{background-color: #fff; border-radius: 50px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.250); width: 292px; height:210px;  padding: 20px; box-sizing: border-box; position: relative;}
#section-1 .sec-option .bonus .bonus-1 li:nth-child(1){
background: url(../img/ico-free_post.png) no-repeat right 20px bottom 20px;
}

#section-1 .sec-option .bonus .bonus-1 li:nth-child(2) span{
position: absolute; right: 20px; bottom: 20px; 
width:90px; height: 90px;
background: url(../img/ico-Coin_in_Hand.png) no-repeat ;
}

#section-1 .sec-option .bonus .bonus-1 li h2{font-family: 'IBM Plex Sans KR Bold'; font-size: 32px; }
#section-1 .sec-option .bonus .bonus-1 li p{font-family: 'IBM Plex Sans KR Regular'; font-size: 16px; margin-top: 10px; display: inline-block;}
#section-1 .sec-option .bonus .bonus-1 li p span{font-family: 'IBM Plex Sans KR SemiBold';}
#section-1 .sec-option .bonus .bonus-1 li img{/* position: absolute; right: 20px; bottom: 20px; */}

#section-1 .sec-option .bonus .bonus-2{display: flex; flex-direction: row; justify-content: space-between; gap: 40px; margin-top: 30px;}
#section-1 .sec-option .bonus .bonus-2 li{background-color: #fff; border-radius: 50px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.250); width: 292px; height:210px; position: relative; }
#section-1 .sec-option .bonus .bonus-2 li h2{font-family: 'IBM Plex Sans KR Bold'; font-size: 32px; margin-left: 20px; margin-top: 20px;}
#section-1 .sec-option .bonus .bonus-2 li p{font-family: 'IBM Plex Sans KR Regular'; font-size: 16px; margin-left: 20px; margin-top: 10px; display: inline-block;}
#section-1 .sec-option .bonus .bonus-2 li img{position: absolute; right: 20px; bottom: 20px;}




/* =================================================
section-2 영역
==================================================== */

#section-2{ background-color: #fff; box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.250);}
#section-2 .sec2-head-wrap{ margin: 0 auto; width: 1740px; padding-top: 40px; padding-bottom: 56px; overflow: hidden;}
/* .sec2-head 영역 */
#section-2 .sec2-head-wrap .sec2-head{ display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 25px; }
#section-2 .sec2-head-wrap .sec2-head span{ font-family: 'IBM Plex Sans KR SemiBold'; font-size: 48px; }
#section-2 .sec2-head-wrap > p{ font-family: 'IBM Plex Sans KR Regular'; font-size: 24px; color: #8C8C8C; text-align: center; margin-top: 5px; }
#section-2 .sec2-head-wrap p span{ color: #dd592d; }
/* #list-main 영역 */
#section-2 .sec2-head-wrap #list-main { display: flex; gap: 50px; font-family: 'IBM Plex Sans KR Regular'; font-size: 20px; justify-content: center; margin-top: 40px; margin-bottom: 68px;}
#section-2 .sec2-head-wrap #list-main li{ position: relative; }
#section-2 .sec2-head-wrap #list-main li::before{ position:absolute; bottom: 0; display: block; content:""; width: 0; height: 3px; background-color: rgb(221, 89, 45); transition-property: width; transition-duration: 0.3s;}
#section-2 .sec2-head-wrap #list-main li a:hover{ color: #dd592d; font-family: 'IBM Plex Sans KR Bold'; font-size: 20px; }
#section-2 .sec2-head-wrap #list-main li:hover::before{ width: 100%; }

/* #list-sub 영역 */
#section-2 .sec2-head-wrap > #list-sub{display: flex; gap: 40px; justify-content: center; }
#section-2 .sec2-head-wrap > #list-sub .banner{border-radius: 0 0 20px 20px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.250); position: relative; /* padding-bottom: 29px; */}
#section-2 .sec2-head-wrap > #list-sub .banner .banner-link{display: block; width: 100%; height: 100%; padding-bottom: 29px; box-sizing: border-box; /* padding: 20px 20px 29px 20px; box-sizing: border-box; */}
#section-2 .sec2-head-wrap > #list-sub .banner .banner-link img{}
#section-2 .sec2-head-wrap > #list-sub .banner .banner-link .banner-name{ font-family: 'IBM Plex Sans KR SemiBold'; font-size: 24px; margin-top: 10px; text-align: center;}
#section-2 .sec2-head-wrap > #list-sub .banner .banner-link .banner-ex{ font-family: 'IBM Plex Sans KR Regular'; font-size: 12px; color: #575757; text-align: center;}
#section-2 .sec2-head-wrap > #list-sub .banner .banner-link .banner-price{font-family: 'IBM Plex Sans KR Regular'; font-size: 20px; margin-left: 20px; margin-top: 40px;}
#section-2 .sec2-head-wrap > #list-sub .banner .banner-link .banner-sale{color:#dd592d; font-family: 'IBM Plex Sans KR Regular'; font-size: 20px; margin-left: 20px; margin-top: 14px;}
#section-2 .sec2-head-wrap > #list-sub .banner .menu-buy{position: absolute; right: 20px; bottom: 26px; display: flex; flex-direction: column; gap: 8px; justify-content: space-between;}
#section-2 .sec2-head-wrap > #list-sub .banner .menu-buy a{background-color: #003942; border-radius: 50px; display: flex; justify-content: center; display: inline-block; width: 64px; text-align: center; height: 36px;}
#section-2 .sec2-head-wrap > #list-sub .banner .menu-buy a img{margin-top: 3px;}






/* white 영역 */
.white{display: block; content: ""; width: 100%; min-height: 94px; box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.250);}



/* =================================================
footer 영역
================================================= */



#footer{background-color: #003942; padding-bottom: 51px;}
#footer .foot-inner{/* max-width: 1920px; margin: 0 auto; */}

/* foot-top 영역 */
#footer .foot-inner .foot-top{padding-top: 23px; padding-left: 50px;}
#footer .foot-inner .foot-top .foot-link{display: flex; gap: 40px; border-bottom: 1px solid #fff; padding-bottom: 23px; }
#footer .foot-inner .foot-top .foot-link a{color: #fff; font-family: 'IBM Plex Sans KR SemiBold'; font-size: 16px;}
#footer .foot-inner .foot-top .foot-link a:hover{color: #dd592d}

/* foot-bottom 영역 */
#footer .foot-inner .foot-bottom{margin-left: 50px; margin-top: 57px;}
#footer .foot-inner .foot-bottom .foot-logo{display: inline-block; margin-bottom: 57px;}
#footer .foot-inner .foot-bottom .foot-info-link .foot-link{display: flex; gap: 40px; }
#footer .foot-inner .foot-bottom .copy{color: #fff; margin-top: 58px;}